@model CreateAboutDTO

@{
    ViewData["Title"] = "Yeni Hakkımda Oluşturma Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
    <br />
    <label>Resim Url 1</label>
    <input type="text" asp-for="ImageUrl1" class="form-control" />
    <br />
    <label>Resim Url 2</label>
    <input type="text" asp-for="ImageUrl2" class="form-control" />
    <br />
    <label>Ana Sayfada Gösterilsin</label> <input type="checkbox" asp-for="IsShown" class="form-check" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>