@model UpdateContactDTO

@{
    ViewData["Title"] = "İletişim Bilgisi Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ContactID" />
    <label>Harita Url</label>
    <input type="text" asp-for="MapUrl" class="form-control" />
    <br />
    <label>Adres</label>
    <input type="text" asp-for="Address" class="form-control" />
    <br />
    <label>Telefon</label>
    <input type="tel" asp-for="Phone" class="form-control" />
    <br />
    <label>Email</label>
    <input type="email" asp-for="Email" class="form-control" />
    <br />
    <label>Ana Sayfada Gösterilsin</label> <input type="checkbox" asp-for="IsShown" class="form-check" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>