@model ResultAboutDTO

<div class="about-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>Hakkımızda</span>
                        <h2>Sitemiz hakkında detaylı bilgiler</h2>
                    </div>
                    <p>@Model.Description</p>

                    @await Component.InvokeAsync("_HomeFeatureComponent")

                    <a href="/About/Index" class="btn">Daha Fazlası</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="@Model.ImageUrl1" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="@Model.ImageUrl2" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>